.onest-light {
  font-family: "Onest", serif;
  font-weight: 300;
  font-style: normal;
}
  
.onest-regular {
  font-family: "Onest", serif;
  font-weight: 400;
  font-style: normal;
}
  
.onest-bold {
  font-family: "Onest", serif;
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #c2dbf8;
}

/* Header section style */
header span {
  margin: 0;
  color: #5083b8;
  letter-spacing: .5px;
  font-weight: 700;
  font-size: 2rem;
}

/* header style */
header {
  padding: 1rem 2vw;
}

/* nav style */
nav {
  background-color: #1c3e63;
}

nav ul {
  margin: 0;
  padding: 0 2vw;
  list-style-type: none;
  display: flex;
}

nav a {
  display: block;
  padding: .85rem 1rem;
  font-size: 1.1rem;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

nav .active a {
  background-color: #333333;
  color: #ffffff;
}

nav a:hover {
  background-color: #5083b8;
}

/* body style */
body {
  font-family: "Onest", serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
}  

main {
  padding: 1rem 2vw;
}

main h1 {
  color: #1c3e63;
}

main h2 {
  color: #1c3e63;
  margin-bottom: .2rem;
}

main p {
  color: #333333;
  margin: 0;
}

main ul {
  list-style-type: circle;
}

main ul li {
  line-height: 125%;
  margin-bottom: .5rem;
  font-size: .9rem;
}

main ol {
  padding: .5rem 2.6rem;
  background-color: #e4ddd1;
}

main a {
  color: #1c3e63;
}

main a:hover {
  color: #53dcd8;
}

main address {
  font-style: normal;
  background-color: #e4ddd1;
  width: 12.5rem;
  padding: .5rem;
  border: 5px solid #1c3e63;
  border-style:double;
  border-radius: .7rem;
}

main dl dt {
  color: #1c3e63;
  font-weight: 700;
  margin-left: 24px;
}

main dl dd {
  font-size: .9rem;
  margin-left: 40px;
}

/* images style */
div.gallery {
  display: flex;
  flex-wrap: wrap;
}

figure.home {
  height: auto;
  max-width: 100%;
  margin: 0 0 0 2%;
  float: right;
}

/* footer style */
footer {
  background-color: #e4ddd1;
  text-align: center;
  color: #1c3e63;
  padding: 1rem 0;
  font-size: .8rem;
  clear: both;
}
